# Сгенерированные Gradle файлы
.gradle/
build/

# Исключаем файлы локальных настроек
.idea/
*.iml
*.ipr
*.iws
out/
bin/

# Исключаем файлы операционной системы
.DS_Store
Thumbs.db

# Исключаем сгенерированные изображения
output_images/

# Исключаем лог-файлы
*.log

# Исключаем архивы
*.jar
*.war
*.ear
/outputProcessors/
